/* #text-value{
    color:black;
} */
#home-container{
background-color: black;
}
#text-value:hover{
    text-decoration: underline;
}

.bg-black{
    background-color: black;
}


#row-header{
    margin: auto;
}

#header{
    min-width: 100%;
    overflow:hidden;
}

.own-div{
    height: 80vh;
    display: inline-flex;
    overflow-x:scroll;
}

.card{
    margin: 20px;
}

.home{
    overflow-y: hidden;
    min-height: calc(100vh - 62.8px);
    background-image: url(images/home.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

#carousel-item{
    background-image: url(images/carousel.png);
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
}
#events{
    overflow-x: hidden;
}

.eight-nine{
    font-family: 'Old Standard TT', serif;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size:35vh;
    background-image: url(images/jssate.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width:250px;
}

.eight-nine-and{
    font-family: 'Old Standard TT', serif;color: rgb(202, 198, 198);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size:30vh;
    width:250px;
}
#nov{
    font-family: 'Old Standard TT', serif;
    font-size: 120px;
    background-image: url(images/jssate.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.anveshan-home{
    color: white;
    font-size:120px;
    font-family: 'Megrim', cursive;
}

#row-dates-two{
    height:50vh;
}

#dates{
    padding: 20px 0 20px 0;
}


/* body > section {
    height: 100vh;
} */
.events-row{
    padding: 30px 15% 30px;
   
}


.eight-nine:hover{
    opacity: 0.7;
    transition:all 0.3s linear 0.1s;
}


@keyframes zoom{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.2) translateX(0)
    }
    100%{
      transform: scale(1)
    }
  }

#header{
    clip-path: polygon(0 0,100% 0,100% 95%,50% 100%,0 95%)
}



#events{
    background-image:url(images/events-back.jpg);
    background-attachment: fixed;
    background-size:cover;

}
#dis-block{
    display: none;
}

#buynow-row{
    height:50vh;
}

.fa{
    padding: 20px 20px;
}

#socialmedia{
    background-color: black;
}

.card-link{
    color: black;
    text-decoration: underline;
}
.section-title--special{
    /* background: var(--transparentBlue);
    color: var(--mainWhite); */
    padding: 0.5rem 2rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%,0 100%);
    background-color: black;
  }
.card-link:hover{
    color:rgb(82, 82, 82);
    text-decoration:none;
}
#card1{
    width: 40rem;
}
#cc{
    padding:0;
    margin:0;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 992px) {
    .and{
        display: none;
    }
    .eight-nine{
        margin-bottom:10px;
        font-size:20vh;;
        /* width:150px; */
        width:100%;
        /* max-width: 200px; */
    }
    
    #card1{
        width: 18rem;
    }
    .col{
        padding:0;
    }
    .anveshan-home{
        color: white;
        font-size:60px;
        font-family: 'Megrim', cursive;
    }
    #nov{
        font-size: 50px;
    }
    .dis-none{
        display: none;
    }
    #dis-block{
        display: block;
    }
    .events-row{
        padding:30px 0;
    }
    @keyframes zoom{
        0%{
          transform: scale(1);
        }
        50%{
          transform: scale(1.1) translateX(0)
        }
        100%{
          transform: scale(1)
        }
      }
}
